@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "InterMedium";
    src: url("./assets/font-family/Inter_18pt-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "InterRegular";
    src: url("./assets/font-family/Inter_18pt-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "InterSemiBold";
    src: url("./assets/font-family/Inter_28pt-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "InterRegular";
    src: url("./assets/font-family/Inter_18pt-Regular.ttf") format("truetype");
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
